In [1]:
import pandas as pd 

df=pd.read_csv("Superstore_Sales_Dataset.csv")
df.head()

,Order ID,Order Date,State,Category,Segment,Quantity,Sub-Category,City,Sales,Profit
0,ORD-10000,2021-01-01 00:00:00,Pennsylvania,Office Supplies,Home Office,5,Paper,Philadelphia,945.28,144.99
1,ORD-10001,2021-01-01 01:00:00,Florida,Technology,Home Office,2,Accessories,Miami,341.95,-8.85
2,ORD-10002,2021-01-01 02:00:00,Ohio,Office Supplies,Consumer,9,Paper,Cleveland,47.07,-1.89
3,ORD-10003,2021-01-01 03:00:00,Washington,Furniture,Corporate,7,Bookcases,Tacoma,1335.73,93.18
4,ORD-10004,2021-01-01 04:00:00,Pennsylvania,Technology,Corporate,8,Accessories,Pittsburgh,1179.56,-114.53

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
import pandas as pd
df = pd.read_csv("Superstore_Sales_Dataset.csv")

In [29]:
df

,Order ID,Order Date,State,Category,Segment,Quantity,Sub-Category,City,Sales,Profit
0,ORD-10000,2021-01-01 00:00:00,Pennsylvania,Office Supplies,Home Office,5,Paper,Philadelphia,945.28,144.99
1,ORD-10001,2021-01-01 01:00:00,Florida,Technology,Home Office,2,Accessories,Miami,341.95,-8.85
2,ORD-10002,2021-01-01 02:00:00,Ohio,Office Supplies,Consumer,9,Paper,Cleveland,47.07,-1.89
3,ORD-10003,2021-01-01 03:00:00,Washington,Furniture,Corporate,7,Bookcases,Tacoma,1335.73,93.18
4,ORD-10004,2021-01-01 04:00:00,Pennsylvania,Technology,Corporate,8,Accessories,Pittsburgh,1179.56,-114.53
...,...,...,...,...,...,...,...,...,...,...
4995,ORD-14995,2021-07-28 03:00:00,Pennsylvania,Furniture,Corporate,2,Tables,Philadelphia,723.25,117.66
4996,ORD-14996,2021-07-28 04:00:00,Florida,Technology,Corporate,4,Accessories,Orlando,950.83,0.80
4997,ORD-14997,2021-07-28 05:00:00,Washington,Technology,Corporate,4,Accessories,Tacoma,1791.90,145.24
4998,ORD-14998,2021-07-28 06:00:00,New York,Office Supplies,Corporate,6,Storage,Buffalo,54.66,17.18
4999,ORD-14999,2021-07-28 07:00:00,Florida,Furniture,Consumer,3,Chairs,Miami,1122.81,226.01

In [28]:
df.shape

(5000, 10)

In [6]:
df.isnull().sum()

Order ID        0
Order Date      0
State           0
Category        0
Segment         0
Quantity        0
Sub-Category    0
City            0
Sales           0
Profit          0
dtype: int64

In [7]:
df.dtypes

Order ID         object
Order Date       object
State            object
Category         object
Segment          object
Quantity          int64
Sub-Category     object
City             object
Sales           float64
Profit          float64
dtype: object

In [8]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [9]:
df['Order Date']

0      2021-01-01 00:00:00
1      2021-01-01 01:00:00
2      2021-01-01 02:00:00
3      2021-01-01 03:00:00
4      2021-01-01 04:00:00
               ...
4995   2021-07-28 03:00:00
4996   2021-07-28 04:00:00
4997   2021-07-28 05:00:00
4998   2021-07-28 06:00:00
4999   2021-07-28 07:00:00
Name: Order Date, Length: 5000, dtype: datetime64[ns]

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df[df['Sales']<0]

Empty DataFrame
Columns: [Order ID, Order Date, State, Category, Segment, Quantity, Sub-Category, City, Sales, Profit]
Index: []

In [12]:
df = df[df['Sales'] >= 0]

In [13]:
df['Profit Margin'] = df['Profit'] / df['Sales']

In [14]:
df['Order Month'] = df['Order Date'].dt.month
df['Order Year'] = df['Order Date'].dt.year

In [15]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       5000 non-null   object
 1   Order Date     5000 non-null   datetime64[ns]
 2   State          5000 non-null   object
 3   Category       5000 non-null   object
 4   Segment        5000 non-null   object
 5   Quantity       5000 non-null   int64
 6   Sub-Category   5000 non-null   object
 7   City           5000 non-null   object
 8   Sales          5000 non-null   float64
 9   Profit         5000 non-null   float64
 10  Profit Margin  5000 non-null   float64
 11  Order Month    5000 non-null   int32
 12  Order Year     5000 non-null   int32
dtypes: datetime64[ns](1), float64(3), int32(2), int64(1), object(6)
memory usage: 468.9+ KB

,Order ID,Order Date,State,Category,Segment,Quantity,Sub-Category,City,Sales,Profit,Profit Margin,Order Month,Order Year
0,ORD-10000,2021-01-01 00:00:00,Pennsylvania,Office Supplies,Home Office,5,Paper,Philadelphia,945.28,144.99,0.153383,1,2021
1,ORD-10001,2021-01-01 01:00:00,Florida,Technology,Home Office,2,Accessories,Miami,341.95,-8.85,-0.025881,1,2021
2,ORD-10002,2021-01-01 02:00:00,Ohio,Office Supplies,Consumer,9,Paper,Cleveland,47.07,-1.89,-0.040153,1,2021
3,ORD-10003,2021-01-01 03:00:00,Washington,Furniture,Corporate,7,Bookcases,Tacoma,1335.73,93.18,0.069760,1,2021
4,ORD-10004,2021-01-01 04:00:00,Pennsylvania,Technology,Corporate,8,Accessories,Pittsburgh,1179.56,-114.53,-0.097096,1,2021

In [16]:
df.to_csv("Superstore_Cleaned.csv", index= False)

# Exploratory Data Analysis

In [17]:
import pandas as pd

df=pd.read_csv("Superstore_cleaned.csv")

In [18]:
df

,Order ID,Order Date,State,Category,Segment,Quantity,Sub-Category,City,Sales,Profit,Profit Margin,Order Month,Order Year
0,ORD-10000,2021-01-01 00:00:00,Pennsylvania,Office Supplies,Home Office,5,Paper,Philadelphia,945.28,144.99,0.153383,1,2021
1,ORD-10001,2021-01-01 01:00:00,Florida,Technology,Home Office,2,Accessories,Miami,341.95,-8.85,-0.025881,1,2021
2,ORD-10002,2021-01-01 02:00:00,Ohio,Office Supplies,Consumer,9,Paper,Cleveland,47.07,-1.89,-0.040153,1,2021
3,ORD-10003,2021-01-01 03:00:00,Washington,Furniture,Corporate,7,Bookcases,Tacoma,1335.73,93.18,0.069760,1,2021
4,ORD-10004,2021-01-01 04:00:00,Pennsylvania,Technology,Corporate,8,Accessories,Pittsburgh,1179.56,-114.53,-0.097096,1,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,ORD-14995,2021-07-28 03:00:00,Pennsylvania,Furniture,Corporate,2,Tables,Philadelphia,723.25,117.66,0.162682,7,2021
4996,ORD-14996,2021-07-28 04:00:00,Florida,Technology,Corporate,4,Accessories,Orlando,950.83,0.80,0.000841,7,2021
4997,ORD-14997,2021-07-28 05:00:00,Washington,Technology,Corporate,4,Accessories,Tacoma,1791.90,145.24,0.081054,7,2021
4998,ORD-14998,2021-07-28 06:00:00,New York,Office Supplies,Corporate,6,Storage,Buffalo,54.66,17.18,0.314307,7,2021
4999,ORD-14999,2021-07-28 07:00:00,Florida,Furniture,Consumer,3,Chairs,Miami,1122.81,226.01,0.201290,7,2021

In [19]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       5000 non-null   object
 1   Order Date     5000 non-null   object
 2   State          5000 non-null   object
 3   Category       5000 non-null   object
 4   Segment        5000 non-null   object
 5   Quantity       5000 non-null   int64
 6   Sub-Category   5000 non-null   object
 7   City           5000 non-null   object
 8   Sales          5000 non-null   float64
 9   Profit         5000 non-null   float64
 10  Profit Margin  5000 non-null   float64
 11  Order Month    5000 non-null   int64
 12  Order Year     5000 non-null   int64
dtypes: float64(3), int64(3), object(7)
memory usage: 507.9+ KB

In [20]:
df['Sales'].sum()

np.float64(5049446.140000001)

In [21]:
df['Profit'].sum()

np.float64(392563.23)

In [22]:
df['Sales'].mean()

np.float64(1009.8892280000001)

In [23]:
df.groupby('Category')['Sales'].sum().sort_values(ascending=False)

Category
Technology         1742146.45
Furniture          1679383.83
Office Supplies    1627915.86
Name: Sales, dtype: float64

In [31]:
df.groupby('State')['Profit'].sum().sort_values(ascending=False).head(10)

State
Florida         49060.79
Michigan        48118.45
Ohio            45576.36
Pennsylvania    40597.06
New York        39607.91
Illinois        38959.57
California      36796.60
Texas           31765.76
Washington      31349.81
Georgia         30730.92
Name: Profit, dtype: float64

In [32]:
df.groupby('Sub-Category')['Sales'].sum().sort_values(ascending = False).head(10)

Sub-Category
Accessories    588515.53
Laptops        580256.22
Tables         579676.60
Phones         573374.70
Bookcases      570375.77
Binders        554932.68
Paper          542275.85
Storage        530707.33
Chairs         529331.46
Name: Sales, dtype: float64

In [33]:
df.groupby('Segment')['Sales'].sum()

Segment
Consumer       1727582.70
Corporate      1636849.82
Home Office    1685013.62
Name: Sales, dtype: float64

In [37]:
print(df.columns)

Index(['Order ID', 'Order Date', 'State', 'Category', 'Segment', 'Quantity',
       'Sub-Category', 'City', 'Sales', 'Profit'],
      dtype='object')

In [38]:
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')

# Create Year & Month columns
df['Order Year'] = df['Order Date'].dt.year
df['Order Month'] = df['Order Date'].dt.month

print(df[['Order Date','Order Year','Order Month']].head())

           Order Date  Order Year  Order Month
0 2021-01-01 00:00:00        2021            1
1 2021-01-01 01:00:00        2021            1
2 2021-01-01 02:00:00        2021            1
3 2021-01-01 03:00:00        2021            1
4 2021-01-01 04:00:00        2021            1

In [39]:
df.groupby(['Order Month','Order Year'])['Sales'].sum()

Order Month  Order Year
1            2021          747378.63
2            2021          656479.23
3            2021          763519.17
4            2021          744105.81
5            2021          750294.60
6            2021          726796.46
7            2021          660872.24
Name: Sales, dtype: float64